{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "root": ["src"],
      "extensions": [".ios.js", ".android.js", ".js", ".json"],
      "alias": {
        "@components": "./src/components",
        "@context": "./src/context",
        "@styles": "./src/assets/styles",
        "@images": "./src/assets/images",
        "@routes": "./src/routes",
        "@screens": "./src/screens"
      }
    }]
  ]
}