{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": ["error"],
    "semi": ["error", "never"],
    "camelcase": ["off"],
    "react/no-unknown-property": 0,
    "import/no-unresolved": 0,
    "no-control-regex": 0,
    "no-else-return": ["error", {"allowElseIf": false}],
    "no-return-assign": ["error", "always"],
    "react/jsx-filename-extension": [1,{"extensions": [".js", "jsx"]}]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "alias": true
    }
  }
}