$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$white-color: #fff;

body {
  font: 100% $font-stack;
  color: $white-color;
  background-color: $primary-color;

  .box {
    border:1px solid #ff0000;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
}

